$blue-color: #188cb3;
$green-color: #8cb318;
$magenta-color: #b3188c;
$gray-color: #e0e0e0;
$light-color: #f4f4f4;
$white-color: #ffffff;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
